<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apagar Cliente</title>
</head>
<body>
Tem certeza que deseja apagar o cliente '{{ object.nome }}'?
<form action="." method="post">
    {% csrf_token %}
    <input type="submit" value="Sim, tenho certeza">
    <input type="reset" onclick="location.href='{% url 'exemplo:list' %}'" value="Não quero apagar mais">
</form>
</body>
</html>